__pycache__/
*.pyc
.DS_Store
code/cache/
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
submit/
paper/submit-aux/*.aux
paper/submit-aux/*.log
paper/submit-aux/*.out
paper/submit-aux/*.pdf
review/
